# Final Project - 25 SQL Tips and Tricks

### **1. <span style="font-size: 14px; color: var(--vscode-foreground);">Using TOP to Return Minimal Rows</span>**

- **Use Case**: Returning top 5 most expensive products.
- **Explanation**: Limits the result set to a specified number of rows.

CODE:  

<span style="color: #0000ff;">SELECT</span> <span style="color: #0000ff;">TOP</span> <span style="color: #09885a;">5</span> ProductName, UnitPrice

<span style="color: #0000ff;">FROM</span> dbo.Products

<span style="color: #0000ff;">ORDER BY</span> UnitPrice <span style="color: #0000ff;">DESC</span>;

In [5]:
SELECT TOP 5 ProductName, UnitPrice
FROM dbo.Products
ORDER BY UnitPrice DESC;

ProductName,UnitPrice
Côte de Blaye,263.50
Thüringer Rostbratwurst,123.79
Mishi Kobe Niku,97.00
Sir Rodney's Marmalade,81.00
Carnarvon Tigers,62.50

### **2\. Use DISTINCT to Remove Duplicates**

- **Use Case**: Getting distinct countries from the Customers table.
- **Explanation**: DISTINCT removes duplicate rows from the result set.

CODE:  

<span style="color: #0000ff;">SELECT DISTINCT</span> Country

<span style="color: #0000ff;">FROM</span> dbo.Customers;

In [6]:
SELECT DISTINCT TOP 5 Country
FROM dbo.Customers;

Country
Argentina
Austria
Belgium
Brazil
Canada

### **3\. Aggregate Functions: AVG**

- **Use Case**: Finding the average freight cost of shipped orders.
- **Explanation**: Aggregates perform calculations across multiple rows.

CODE:  

<span style="color: #0000ff;">SELECT</span> <span style="color: #795e26;">AVG</span>(Freight) <span style="color: #0000ff;">AS</span> AvgFreight

<span style="color: #0000ff;">FROM</span> dbo.Orders

<span style="color: #0000ff;">WHERE</span> ShippedDate <span style="color: #0000ff;">IS NOT NULL</span>;

In [7]:
SELECT AVG(Freight) AS AvgFreight
FROM dbo.Orders
WHERE ShippedDate IS NOT NULL;

AvgFreight
79.0544

### **4\. Using JOIN for Table Relationships**

- **Use Case**: Getting the names of customers along with their order IDs.
- **Explanation**: JOIN allows combining data from related tables

CODE:  

<span style="color: rgb(0, 0, 255);">SELECT</span> <span style="color: rgb(0, 0, 255);">TOP</span> <span style="color: rgb(9, 136, 90);">10</span> C.CustomerID, C.CompanyName, O.OrderID

<span style="color: rgb(0, 0, 255);">FROM</span> dbo.Customers C

<span style="color: rgb(0, 0, 255);">JOIN</span> dbo.Orders O <span style="color: rgb(0, 0, 255);">ON</span> C.CustomerID <span style="color: rgb(0, 0, 0);">=</span> O.CustomerID;

In [8]:
SELECT TOP 5 C.CustomerID, C.CompanyName, O.OrderID
FROM dbo.Customers C
JOIN dbo.Orders O ON C.CustomerID = O.CustomerID;

CustomerID,CompanyName,OrderID
ALFKI,Alfreds Futterkiste,10643
ALFKI,Alfreds Futterkiste,10692
ALFKI,Alfreds Futterkiste,10702
ALFKI,Alfreds Futterkiste,10835
ALFKI,Alfreds Futterkiste,10952

### **5\. Filter Rows with WHERE Clause**

- **Use Case**: Finding orders placed in 2022.
- **Explanation**: The WHERE clause filters rows based on conditions.

CODE:  

<span style="color: #0000ff;">SELECT</span> <span style="color: #0000ff;">TOP</span> <span style="color: #09885a;">10</span> OrderID, OrderDate

<span style="color: #0000ff;">FROM</span> dbo.Orders

<span style="color: #0000ff;">WHERE</span> <span style="color: #795e26;">YEAR</span>(OrderDate) <span style="color: #000000;">=</span> <span style="color: #09885a;">2022</span>;

In [9]:
SELECT TOP 5 OrderID, OrderDate
FROM dbo.Orders
WHERE YEAR(OrderDate) = 2022;

OrderID,OrderDate
10400,2022-01-01 00:00:00.000
10401,2022-01-01 00:00:00.000
10402,2022-01-02 00:00:00.000
10403,2022-01-03 00:00:00.000
10404,2022-01-03 00:00:00.000

### **6\. Using GROUP BY for Aggregation**

- **Use Case**: Grouping orders by country and counting them.
- **Explanation**: Groups rows that have the same values into summary rows.

CODE:  

<span style="color: #0000ff;">SELECT</span> ShipCountry, <span style="color: #795e26;">COUNT</span>(OrderID) <span style="color: #0000ff;">AS</span> TotalOrders

<span style="color: #0000ff;">FROM</span> dbo.Orders

<span style="color: #0000ff;">GROUP BY</span> ShipCountry;

In [10]:
SELECT TOP 5 ShipCountry, COUNT(OrderID) AS TotalOrders
FROM dbo.Orders
GROUP BY ShipCountry;

ShipCountry,TotalOrders
Finland,22
USA,122
Italy,28
Brazil,83
Germany,122

### **7\. HAVING to Filter After Aggregation**

- **Use Case**: Showing only countries with more than 50 orders.
- **Explanation**: HAVING filters after the GROUP BY clause.

CODE:  

<span style="color: #0000ff;">SELECT</span> ShipCountry, <span style="color: #795e26;">COUNT</span>(OrderID) <span style="color: #0000ff;">AS</span> TotalOrders

<span style="color: #0000ff;">FROM</span> dbo.Orders

<span style="color: #0000ff;">GROUP BY</span> ShipCountry

<span style="color: #0000ff;">HAVING</span> <span style="color: #795e26;">COUNT</span>(OrderID) <span style="color: #000000;">&gt;</span> <span style="color: #09885a;">50</span>;

In [11]:
SELECT TOP 5 ShipCountry, COUNT(OrderID) AS TotalOrders
FROM dbo.Orders
GROUP BY ShipCountry
HAVING COUNT(OrderID) > 50;

ShipCountry,TotalOrders
USA,122
Brazil,83
Germany,122
UK,56
France,77

### **8\. Use Aliases AS for Readability**

- **Use Case**: Giving meaningful names to columns.
- **Explanation**: Aliases improve query readability.

CODE:  

<span style="color: #0000ff;">SELECT</span> <span style="color: #0000ff;">TOP</span> <span style="color: #09885a;">10</span> ProductName <span style="color: #0000ff;">AS</span> <span style="color: #0000ff;">Name</span>, UnitPrice <span style="color: #0000ff;">AS</span> Price

<span style="color: #0000ff;">FROM</span> dbo.Products;

In [12]:
SELECT TOP 5 ProductName AS Name, UnitPrice AS Price
FROM dbo.Products;

Name,Price
Chai,18.00
Chang,19.00
Aniseed Syrup,10.00
Chef Anton's Cajun Seasoning,22.00
Chef Anton's Gumbo Mix,21.35

### **9\. JOIN: Find Customers and the Products They Ordered**  

- **Use Case**: Listing the customers along with the names of the products they ordered.
- **Explanation**: This query joins multiple tables to show the relationship between customers, orders, and the products they’ve purchased.

CODE:  

<span style="color: #0000ff;">SELECT</span> <span style="color: #0000ff;">TOP</span> <span style="color: #09885a;">10</span> C.CustomerID, C.CompanyName, P.ProductName

<span style="color: #0000ff;">FROM</span> dbo.Customers C

<span style="color: #0000ff;">JOIN</span> dbo.Orders O <span style="color: #0000ff;">ON</span> C.CustomerID <span style="color: #000000;">=</span> O.CustomerID

<span style="color: #0000ff;">JOIN</span> dbo.OrderDetails OD <span style="color: #0000ff;">ON</span> O.OrderID <span style="color: #000000;">=</span> OD.OrderID

<span style="color: #0000ff;">JOIN</span> dbo.Products P <span style="color: #0000ff;">ON</span> OD.ProductID <span style="color: #000000;">=</span> P.ProductID;

In [13]:
SELECT TOP 5 C.CustomerID, C.CompanyName, P.ProductName
FROM dbo.Customers C
JOIN dbo.Orders O ON C.CustomerID = O.CustomerID
JOIN dbo.OrderDetails OD ON O.OrderID = OD.OrderID
JOIN dbo.Products P ON OD.ProductID = P.ProductID;

CustomerID,CompanyName,ProductName
VINET,Vins et alcools Chevalier,Queso Cabrales
VINET,Vins et alcools Chevalier,Singaporean Hokkien Fried Mee
VINET,Vins et alcools Chevalier,Mozzarella di Giovanni
TOMSP,Toms Spezialitäten,Tofu
TOMSP,Toms Spezialitäten,Manjimup Dried Apples

### **10\. Use IS NULL to Find Missing Data**

- **Use Case**: Finding employees without regions.
- **Explanation**: IS NULL helps locate missing or undefined data.

CODE:  

<span style="color: #0000ff;">SELECT</span> EmployeeID, FirstName, LastName

<span style="color: #0000ff;">FROM</span> dbo.Employees

<span style="color: #0000ff;">WHERE</span> Region <span style="color: #0000ff;">IS</span> <span style="color: #0000ff;">NULL</span>;

In [14]:
SELECT TOP 5 EmployeeID, FirstName, LastName
FROM dbo.Employees
WHERE Region IS NULL;

EmployeeID,FirstName,LastName
5,Steven,Buchanan
6,Michael,Suyama
7,Robert,King
9,Anne,Dodsworth

### **11\. Subqueries for Filtering**

- **Use Case**: Finding products with prices above the average price.
- **Explanation**: Subqueries allow a query within another query.

CODE:  

<span style="color: #0000ff;">SELECT</span> ProductName, UnitPrice

<span style="color: #0000ff;">FROM</span> dbo.Products

<span style="color: #0000ff;">WHERE</span> UnitPrice <span style="color: #000000;">&gt;</span> (<span style="color: #0000ff;">SELECT</span> <span style="color: #795e26;">AVG</span>(UnitPrice) <span style="color: #0000ff;">FROM</span> dbo.Products);

In [15]:
SELECT TOP 5 ProductName, UnitPrice
FROM dbo.Products
WHERE UnitPrice > (SELECT AVG(UnitPrice) FROM dbo.Products);

ProductName,UnitPrice
Uncle Bob's Organic Dried Pears,30.00
Northwoods Cranberry Sauce,40.00
Mishi Kobe Niku,97.00
Ikura,31.00
Queso Manchego La Pastora,38.00

### **12\. Using UNION to Combine Queries**

- **Use Case**: Combining lists of US and UK customers.
- **Explanation**: UNION combines the results of two or more queries.

CODE:

<span style="color: #0000ff;">SELECT</span> CustomerID, CompanyName, Country

<span style="color: #0000ff;">FROM</span> dbo.Customers

<span style="color: #0000ff;">WHERE</span> Country <span style="color: #000000;">=</span> <span style="color: #a31515;">'USA'</span>

<span style="color: #0000ff;">UNION</span>

<span style="color: #0000ff;">SELECT</span> CustomerID, CompanyName, Country

<span style="color: #0000ff;">FROM</span> dbo.Customers

<span style="color: #0000ff;">WHERE</span> Country <span style="color: #000000;">=</span> <span style="color: #a31515;">'UK'</span>;

In [16]:
SELECT TOP 5 CustomerID, CompanyName, Country
FROM dbo.Customers
WHERE Country = 'USA'
UNION
SELECT CustomerID, CompanyName, Country
FROM dbo.Customers
WHERE Country = 'UK';

CustomerID,CompanyName,Country
GREAL,Great Lakes Food Market,USA
HUNGC,Hungry Coyote Import Store,USA
LAZYK,Lazy K Kountry Store,USA
LETSS,Let's Stop N Shop,USA
LONEP,Lonesome Pine Restaurant,USA
AROUT,Around the Horn,UK
BSBEV,B's Beverages,UK
CONSH,Consolidated Holdings,UK
EASTC,Eastern Connection,UK
ISLAT,Island Trading,UK
NORTS,North/South,UK
SEVES,Seven Seas Imports,UK

### **13\. String Functions: UPPER**

- **Use Case**: Standardizing customer names to uppercase.
- **Explanation**: String functions manipulate text data.

CODE:  

<span style="color: #0000ff;">SELECT</span> <span style="color: #0000ff;">TOP</span> <span style="color: #09885a;">10</span> <span style="color: #795e26;">UPPER</span>(CompanyName) <span style="color: #0000ff;">AS</span> UpperCaseName

<span style="color: #0000ff;">FROM</span> dbo.Customers;

In [17]:
SELECT TOP 5 UPPER(CompanyName) AS UpperCaseName
FROM dbo.Customers;

UpperCaseName
ALFREDS FUTTERKISTE
ANA TRUJILLO EMPAREDADOS Y HELADOS
ANTONIO MORENO TAQUERÍA
AROUND THE HORN
BERGLUNDS SNABBKÖP

### **14\. Use Date Functions: MONTH**

- **Use Case**: Finding orders placed in December.
- **Explanation**: Date functions extract parts of a date.

CODE:  

<span style="color: #0000ff;">SELECT</span> <span style="color: #0000ff;">TOP</span> <span style="color: #09885a;">10</span> OrderID, OrderDate

<span style="color: #0000ff;">FROM</span> dbo.Orders

<span style="color: #0000ff;">WHERE</span> <span style="color: #795e26;">MONTH</span>(OrderDate) <span style="color: #000000;">=</span> <span style="color: #09885a;">12</span>;

In [18]:
SELECT TOP 5 OrderID, OrderDate
FROM dbo.Orders
WHERE MONTH(OrderDate) = 12;

OrderID,OrderDate
10369,2021-12-02 00:00:00.000
10370,2021-12-03 00:00:00.000
10371,2021-12-03 00:00:00.000
10372,2021-12-04 00:00:00.000
10373,2021-12-05 00:00:00.000

### **15\. Use AND for Multiple Conditions**

- **Use Case**: Finding employees who live in the USA and work in Seattle.
- **Explanation**: The AND operator allows combining multiple conditions in the WHERE clause.

CODE:  

<span style="color: #0000ff;">SELECT</span> EmployeeID, FirstName, LastName, City, Country

<span style="color: #0000ff;">FROM</span> dbo.Employees

<span style="color: #0000ff;">WHERE</span> Country <span style="color: #000000;">=</span> <span style="color: #a31515;">'USA'</span> <span style="color: #0000ff;">AND</span> City <span style="color: #000000;">=</span> <span style="color: #a31515;">'Seattle'</span>;

In [19]:
SELECT TOP 5 EmployeeID, FirstName, LastName, City, Country
FROM dbo.Employees
WHERE Country = 'USA' AND City = 'Seattle';

EmployeeID,FirstName,LastName,City,Country
1,Nancy,Davolio,Seattle,USA
8,Laura,Callahan,Seattle,USA

### **16\. Use OR for Flexible Condition Matching**

- **Use Case**: Finding products that are either discontinued or have a stock quantity of less than 10 units.
- **Explanation**:OR allows matching rows where at least one of the conditions is true.

CODE:  

<span style="color: #0000ff;">SELECT</span> ProductID, ProductName, UnitsInStock, Discontinued

<span style="color: #0000ff;">FROM</span> dbo.Products

<span style="color: #0000ff;">WHERE</span> Discontinued <span style="color: #000000;">=</span> <span style="color: #09885a;">1</span> <span style="color: #0000ff;">OR</span> UnitsInStock <span style="color: #000000;">&lt;</span> <span style="color: #09885a;">10</span>;

In [20]:
SELECT TOP 5 ProductID, ProductName, UnitsInStock, Discontinued
FROM dbo.Products
WHERE Discontinued = 1 OR UnitsInStock < 10;

ProductID,ProductName,UnitsInStock,Discontinued
5,Chef Anton's Gumbo Mix,0,1
8,Northwoods Cranberry Sauce,6,0
9,Mishi Kobe Niku,29,1
17,Alice Mutton,0,1
21,Sir Rodney's Scones,3,0

### **17\. Use IN for Multiple Criteria**

- **Use Case**: Finding customers in the USA, UK, or Germany.
- **Explanation**: IN checks if a value matches any in a list.

CODE:  

<span style="color: #0000ff;">SELECT</span> CustomerID, CompanyName, Country

<span style="color: #0000ff;">FROM</span> dbo.Customers

<span style="color: #0000ff;">WHERE</span> Country <span style="color: #0000ff;">IN</span> (<span style="color: #a31515;">'USA'</span>, <span style="color: #a31515;">'UK'</span>, <span style="color: #a31515;">'Germany'</span>);

In [21]:
SELECT TOP 5 CustomerID, CompanyName, Country
FROM dbo.Customers
WHERE Country IN ('USA', 'UK', 'Germany');

CustomerID,CompanyName,Country
ALFKI,Alfreds Futterkiste,Germany
AROUT,Around the Horn,UK
BLAUS,Blauer See Delikatessen,Germany
BSBEV,B's Beverages,UK
CONSH,Consolidated Holdings,UK

### **18\. Use EXISTS to Check for Record Existence**

- **Use Case**: Finding employees with orders.
- **Explanation**: EXISTS returns true if a subquery returns any rows.

CODE:  

<span style="color: #0000ff;">SELECT</span> EmployeeID, FirstName, LastName

<span style="color: #0000ff;">FROM</span> dbo.Employees E

<span style="color: #0000ff;">WHERE</span> <span style="color: #0000ff;">EXISTS</span> (<span style="color: #0000ff;">SELECT</span> <span style="color: #09885a;">1</span> <span style="color: #0000ff;">FROM</span> dbo.Orders O <span style="color: #0000ff;">WHERE</span> O.EmployeeID <span style="color: #000000;">=</span> E.EmployeeID);

In [22]:
SELECT TOP 5 EmployeeID, FirstName, LastName
FROM dbo.Employees E
WHERE EXISTS (SELECT 1 FROM dbo.Orders O WHERE O.EmployeeID = E.EmployeeID);

EmployeeID,FirstName,LastName
1,Nancy,Davolio
2,Andrew,Fuller
3,Janet,Leverling
4,Margaret,Peacock
5,Steven,Buchanan

### **19\. Use BETWEEN for Range Queries**

- **Use Case**: Finding products priced between $10 and $20.
- **Explanation**: BETWEEN filters values within a specified range.

CODE:  

<span style="color: #0000ff;">SELECT</span> ProductName, UnitPrice

<span style="color: #0000ff;">FROM</span> dbo.Products

<span style="color: #0000ff;">WHERE</span> UnitPrice <span style="color: #0000ff;">BETWEEN</span> <span style="color: #09885a;">10</span> <span style="color: #0000ff;">AND</span> <span style="color: #09885a;">20</span>;

In [23]:
SELECT TOP 5 ProductName, UnitPrice
FROM dbo.Products
WHERE UnitPrice BETWEEN 10 AND 20;

ProductName,UnitPrice
Chai,18.00
Chang,19.00
Aniseed Syrup,10.00
Genen Shouyu,15.50
Pavlova,17.45

### **20\. Using CASE for Conditional Logic**

- **Use Case**: Labeling employees based on hire date.
- **Explanation**: CASE adds conditional logic in SELECT statements.

CODE:  

<span style="color: #0000ff;">SELECT</span> FirstName, LastName,

<span style="color: #0000ff;">CASE</span>

  <span style="color: #0000ff;">WHEN</span> HireDate <span style="color: #000000;">&lt;</span> <span style="color: #a31515;">'2018-01-01'</span> <span style="color: #0000ff;">THEN</span> <span style="color: #a31515;">'Veteran'</span>

  <span style="color: #0000ff;">ELSE</span> <span style="color: #a31515;">'Newbie'</span>

<span style="color: #0000ff;">END</span> <span style="color: #0000ff;">AS</span> <span style="color: #0000ff;">Status</span>

<span style="color: #0000ff;">FROM</span> dbo.Employees;

In [24]:
SELECT TOP 5 FirstName, LastName,
CASE
  WHEN HireDate < '2018-01-01' THEN 'Veteran'
  ELSE 'Newbie'
END AS Status
FROM dbo.Employees;

FirstName,LastName,Status
Nancy,Davolio,Veteran
Andrew,Fuller,Veteran
Janet,Leverling,Veteran
Margaret,Peacock,Newbie
Steven,Buchanan,Newbie

### **21\. Use MIN and MAX for Data Range Queries**

- **Use Case**: Finding the product with the highest and lowest price in each category.
- **Explanation**: MIN and MAX are useful for finding boundary values.

CODE:  

<span style="color: #0000ff;">SELECT</span> CategoryID, <span style="color: #795e26;">MIN</span>(UnitPrice) <span style="color: #0000ff;">AS</span> MinPrice, <span style="color: #795e26;">MAX</span>(UnitPrice) <span style="color: #0000ff;">AS</span> MaxPrice

<span style="color: #0000ff;">FROM</span> dbo.Products

<span style="color: #0000ff;">GROUP BY</span> CategoryID;

In [25]:
SELECT TOP 5 CategoryID, MIN(UnitPrice) AS MinPrice, MAX(UnitPrice) AS MaxPrice
FROM dbo.Products
GROUP BY CategoryID;

CategoryID,MinPrice,MaxPrice
1,4.50,263.50
2,10.00,43.90
3,9.20,81.00
4,2.50,55.00
5,7.00,38.00

### **22\. Using Window Functions: ROW\_NUMBER()**

- **Use Case**: Ranking products by price.
- **Explanation**: Window functions operate on a set of rows.

CODE:  

<span style="color: #0000ff;">SELECT</span> ProductName, UnitPrice,

<span style="color: #795e26;">ROW_NUMBER</span>() <span style="color: #0000ff;">OVER</span> (<span style="color: #0000ff;">ORDER BY</span> UnitPrice <span style="color: #0000ff;">DESC</span>) <span style="color: #0000ff;">AS</span> PriceRank

<span style="color: #0000ff;">FROM</span> dbo.Products;

In [26]:
SELECT TOP 5 ProductName, UnitPrice,
ROW_NUMBER() OVER (ORDER BY UnitPrice DESC) AS PriceRank
FROM dbo.Products;

ProductName,UnitPrice,PriceRank
Côte de Blaye,263.50,1
Thüringer Rostbratwurst,123.79,2
Mishi Kobe Niku,97.00,3
Sir Rodney's Marmalade,81.00,4
Carnarvon Tigers,62.50,5

### **23\. Use COUNT for Summarizing Data**

### 

- **Use Case**: Counting the number of orders placed by each customer.
- **Explanation**: COUNT provides the total number of rows matching the query.

CODE:  

<span style="color: #0000ff;">SELECT</span> CustomerID, <span style="color: #795e26;">COUNT</span>(OrderID) <span style="color: #0000ff;">AS</span> TotalOrders

<span style="color: #0000ff;">FROM</span> dbo.Orders

<span style="color: #0000ff;">GROUP BY</span> CustomerID;

In [27]:
SELECT TOP 5 CustomerID, COUNT(OrderID) AS TotalOrders
FROM dbo.Orders
GROUP BY CustomerID;

CustomerID,TotalOrders
ALFKI,6
ANATR,4
ANTON,7
AROUT,13
BERGS,18

### **24\. Use NOT for Exclusion of Specific Data**

- **Use Case**: Finding customers who are not located in the USA or Canada.
- **Explanation**: NOT allows for excluding specific rows based on a condition.

CODE:  

<span style="color: #0000ff;">SELECT</span> <span style="color: #0000ff;">TOP</span> <span style="color: #09885a;">10</span> CustomerID, CompanyName, Country

<span style="color: #0000ff;">FROM</span> dbo.Customers

<span style="color: #0000ff;">WHERE</span> Country <span style="color: #0000ff;">NOT</span> <span style="color: #0000ff;">IN</span> (<span style="color: #a31515;">'USA'</span>, <span style="color: #a31515;">'Canada'</span>);

In [28]:
SELECT TOP 5 CustomerID, CompanyName, Country
FROM dbo.Customers
WHERE Country NOT IN ('USA', 'Canada');

CustomerID,CompanyName,Country
ALFKI,Alfreds Futterkiste,Germany
ANATR,Ana Trujillo Emparedados y helados,Mexico
ANTON,Antonio Moreno Taquería,Mexico
AROUT,Around the Horn,UK
BERGS,Berglunds snabbköp,Sweden

### **25\. Use LIKE for Pattern Matching**

- **Use Case**: Finding employees whose first name starts with "A".
- **Explanation**: LIKE is used to search for patterns within text data.

CODE:  

<span style="color: #0000ff;">SELECT</span> EmployeeID, FirstName, LastName

<span style="color: #0000ff;">FROM</span> dbo.Employees

<span style="color: #0000ff;">WHERE</span> FirstName <span style="color: #0000ff;">LIKE</span> <span style="color: #a31515;">'A%'</span>;

In [29]:
SELECT TOP 5 EmployeeID, FirstName, LastName
FROM dbo.Employees
WHERE FirstName LIKE 'A%';

EmployeeID,FirstName,LastName
2,Andrew,Fuller
9,Anne,Dodsworth